@{
    ViewData["Title"] = "Applyruledetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .form-control {
            height: 32px !important;
        }
        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 0px solid rgba(67, 89, 113, 0.2);
            border-radius: 0.5rem;
            outline: 0;
        }

        .modal-dialog {
            position: relative;
            width: 800px;
            margin: 0.5rem;
            pointer-events: none;
            margin-left: -240px;
        }

        .modal-body {
            position: relative;
            flex: 1 1 auto;
            padding: 1.5rem;
        }

        .modal-header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 1.5rem 0.25rem;
            border-bottom: 0px solid #d9dee3;
            border-top-left-radius: calc(0.5rem - 0px);
            border-top-right-radius: calc(0.5rem - 0px);
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
            top: 0px;
        }

        a.k-link {
            position: relative;
            top: 0px;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-pager-sizes {
            display: inline-flex !important;
            margin-left: 0% !important;
            margin-top: -4% !important;
            width: 24% !important;
        }

        .k-button.k-button-icontext.k-grid-add {
            background: green;
            color: white;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        .k-grid-content {
            overflow-x: scroll;
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete, a.k-button.k-button-icontext.k-grid-edit {
            background: transparent;
            border-color: transparent;
        }

        span.k-icon.k-edit {
            display: none;
        }

        .k-grouping-header {
            color: #ffffff;
        }

        .k-grid-filter.k-state-active {
            background-color: rgb(51, 122, 183);
        }

        .k-state-active {
            display: block;
        }

        .k-header.k-grid-toolbar.k-grid-top {
            background: none;
        }

        .k-webkit {
            overflow: hidden !important;
        }

    </style>

    <style>

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-state-active {
            display: block;
        }

        .k-webkit {
            overflow: hidden !important;
        }
    </style>

    
    <style>

        .panel-default {
            border-color: transparent !important;
            border: none !important;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #337ab7 !important;
            border-color: #e4e5e7;
            padding: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .panel-default > .panel-heading a {
                display: block;
                padding: 10px 15px;
            }

                .panel-default > .panel-heading a:after {
                    content: "";
                    position: relative;
                    top: -8px;
                    color: #ffff;
                    display: inline-block;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 800;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    float: right;
                    transition: transform .25s linear;
                    -webkit-transition: -webkit-transform .25s linear;
                }

                .panel-default > .panel-heading a[aria-expanded="true"] {
                    background-color: #337ab7 !important;
                }

                    .panel-default > .panel-heading a[aria-expanded="true"]:after {
                        content: "\2212";
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                .panel-default > .panel-heading a[aria-expanded="false"]:after {
                    content: "\002b";
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }

        .accordion-option {
            width: 100%;
            float: left;
            clear: both;
            margin: 15px 0;
        }

            .accordion-option .title {
                font-size: 20px;
                font-weight: bold;
                float: left;
                padding: 0;
                margin: 0;
            }

            .accordion-option .toggle-accordion {
                float: right;
                font-size: 16px;
                color: #6a6c6f;
            }

                .accordion-option .toggle-accordion:before {
                    content: "Expand All";
                }

                .accordion-option .toggle-accordion.active:before {
                    content: "Collapse All";
                }
        </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:auto;padding:10px">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Apply Rule Detail</h3>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Recon Type</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="WA" >Within Account</option>
                                    <option value="BA">Between Account</option>
                                    <option value="SF" selected>Supporting File</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">Recon Name&nbsp;</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1">KVB BRS</option>
                                    <option value="2">Razorpay BRS - CWw0Noh1tfnVLM</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Match Off</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="checkbox" id="Status" name="Status" value="S" checked>&nbsp;&nbsp;System&nbsp;
                                    <input type="checkbox" id="Status" style="margin-left: 10px;" name="Status" value="P" checked>&nbsp;&nbsp;Preview&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Support File</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="9">RBL CC-NACH Collection</option>
                                    <option value="14">HDFC CMS</option>
                                    <option value="12">Razorpay - MIS Collection</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">Period From&nbsp;</label>
                                <div>
                                    <input class="cusDate" data-role='datepicker' id="period_from" name="period_from" data-bind="15-06-2023" onclick="Dateformat()" style="width:100%" />
                                    <span data-for='valid' class='k-invalid-msg'></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="organization" class="form-label">
                                    <span>Period To</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" style="margin: 0px; padding:0px;" type="checkbox" checked value="false" name="untillactive" onclick="checkactive()" id="untillactive" />&nbsp;&nbsp;<span style="font-size:14px;">Until Active</span>
                                </label>
                                <div>
                                    <input class="cusDate" data-role='datepicker' id="period_to" onclick="Dateformat()" style="height:25px;width: 100%;" data-bind="null" onkeypress="return date_validate(event)" /><span data-for='valid' class='k-invalid-msg'></span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Status&nbsp;</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="_Status" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="_Status" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-4"> </div>
                            <div class="col-sm-4" style="margin-top: 2%;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-sm btn-success me-2" style="background: red;border-color: red;width:40%" onclick="window.location.href = '/Applyrule/Applyrule'">Cancel</button>
                            </div>
                        </div>


                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:30px">
                            <div class="table-responsive text-nowrap">
                                <i data-bs-toggle="modal" onclick="rr()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer"></i>
                                <table class="table table-bordered table-sm">
                                    <thead style="background: #c1c1c1;">
                                        <tr class="text-nowrap">
                                            <th>Action</th>
                                            <th>Rule Name</th>
                                            <th>Addtional Configuration</th>
                                            <th>Rule Order</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="height:25px;">
                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
                                            <td>RBL CC- NACH Support File Posting		</td>
                                            <td>
                                                <a data-bs-toggle="modal" style="cursor:pointer" onclick="rr2()">
                                                    configuration
                                                </a>
                                            </td>
                                            <td>
                                               1
                                            </td>
                                            <td>Active</td>
                                        </tr>
                                        <tr style="height:25px;">
                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
                                            <td>
                                                RBL CC- NACH Support File Posting
                                            </td>
                                            <td>
                                                <a data-bs-toggle="modal" onclick="rr2()">
                                                    configuration
                                                </a>
                                            </td>
                                            <td>
                                              2
                                            </td>
                                            <td>Active</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal" id="newdebit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">New</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Rule Name</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>RBL CC- NACH Support File Posting</option>
                                    <option value="2">KVB CC- NACH Support File Posting</option>
                                    
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label"> Rule Order</label>
                                <input class="form-control" id="extraction" name="ruleorder" type="text" value="1" data-bind="value:Rule order">
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Reversal Flag</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Reversal" value="Y">&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Reversal" value="N" checked>&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">

                            <div class="col-sm-4">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="_Status1" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="_Status1" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Group Method</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Groupmethod" value="C" >&nbsp;&nbsp;Contra/Mirror&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Groupmethod" value="B" checked>&nbsp;&nbsp;Both&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Group Many-To-Many</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Grouptomany" value="Y" >&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Grouptomany" value="N" checked>&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Group Flag</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Groupflag" value="Y" >&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Groupflag" value="N" checked>&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label"></label>
                            </div>
                            <div class="col-sm-4" style="margin-top:2%;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="newconfiguration" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Edit</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Rule Name</label>
                            <select id="mode" class="form-select form-control">
                                <option value="1" selected>KVB CC- UPI Collection From Customer</option>
                                <option value="2">HDFC CC- UPI Collection From Customer</option>
                            </select>
                         </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label"> Rule Order</label>
                            <input class="form-control" id="extraction" name="ruleorder" type="text" value="1" data-bind="value:Rule order">
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Reversal Flag</label>
                            <div style="margin-left:2px;margin-top:5px">
                                <input type="radio" id="Status" name="Reversalflag" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                <input type="radio" id="Status" style="margin-left: 10px;" name="Reversalflag" value="N">&nbsp;&nbsp;No&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">

                        <div class="col-sm-4">
                            <label for="" class="form-label">Status</label>
                            <div style="margin-left:2px;margin-top:5px">
                                <input type="radio" id="Status" name="_Status2" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                <input type="radio" id="Status" style="margin-left: 10px;" name="_Status2" value="N">&nbsp;&nbsp;InActive&nbsp;
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Group Method</label>
                            <div style="margin-left:2px;margin-top:5px">
                                <input type="radio" id="Status" name="Groupmethod1" value="C" checked>&nbsp;&nbsp;Contra/Mirror&nbsp;
                                <input type="radio" id="Status" style="margin-left: 10px;" name="Groupmethod1" value="B">&nbsp;&nbsp;Both&nbsp;
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Group Many-To-Many</label>
                            <div style="margin-left:2px;margin-top:5px">
                                <input type="radio" id="Status" name="Grouptomany1" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                <input type="radio" id="Status" style="margin-left: 10px;" name="Grouptomany1" value="N">&nbsp;&nbsp;No&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Group Flag</label>
                            <div style="margin-left:2px;margin-top:5px">
                                <input type="radio" id="Status" name="groupflag1" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                <input type="radio" id="Status" style="margin-left: 10px;" name="groupflag1" value="N">&nbsp;&nbsp;No&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label"></label>
                        </div>
                        <div class="col-sm-4" style="margin-top:2%;">
                            <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr7()">Cancel</button>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px">
                        <section class="col-md-12">
                            <div id="tab_list" class="col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#baseidentifier" role="tab" data-toggle="tab">
                                           Base & Identifier
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#genericcondition" id="" role="tab" data-toggle="tab">
                                           Generic Condition
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#additionalondition" id="" role="tab" data-toggle="tab">
                                            Additional Condition
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="baseidentifier">
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="padding: 10px 0px;">
                                                <div style="text-align:left;padding-bottom: 3.5%;">
                                                    <i data-bs-toggle="modal" onclick="rr3()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green"></i>
                                                </div>
                                                <div class="table-responsive text-nowrap" style="margin-top: -20px;">
                                                    
                                                    <table class="table table-bordered table-sm">
                                                    <thead style="background: #c1c1c1;">
                                                        <tr class="text-nowrap">
                                                            <th>Action</th>
                                                            <th>Dr/Cr</th>
                                                            <th>Base Account No</th>
                                                            <th>Target Account No</th>
                                                            <th>Order</th>
                                                            <th>Status</th>
                                                            <th>Target-Grouping</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="height:25px;">
                                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                <td>Credit</td>
                                                                <td>409000472606-RBL CC- Bank	</td>
                                                                <td>409000472606-RBL CC- Bank	</td>
                                                            <td>2</td>
                                                                <td> Active</td>
                                                            <td>
                                                                    <a data-bs-toggle="modal" style=" cursor:pointer" onclick="rr8()">
                                                                    Select
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr style="height:25px;">
                                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                            <td>Debit</td>
                                                                <td>409000472606-RBL CC- Bank</td>
                                                                <td>409000472606-RBL CC- Bank</td>
                                                            <td>2</td>
                                                            <td>Active</td>
                                                            <td>
                                                                    <a data-bs-toggle="modal" style=" cursor:pointer" onclick="rr8()">
                                                                        Select
                                                                    </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="genericcondition">
                                            <div class="panel panel-default">
                                            <div class="panel-body" style="padding: 10px 0px;">
                                                <table class="table table-bordered table-sm">
                                                    <thead style="background: #c1c1c1;">
                                                        <tr class="text-nowrap">
                                                            <th>Base Field</th>
                                                            <th>Extraction Criteria</th>
                                                            <th>Target Field</th>
                                                            <th>Comparison criteria</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="height:25px;">
                                                            <td>Tran Date	</td>
                                                            <td>EXACT</td>
                                                            <td>Tran Date	</td>
                                                            <td>BETWEEN(-1,-1)	</td>
                                                            <td>Active</td>
                                                        </tr>
                                                      @*  <tr style="height:25px;">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>*@
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="tab-pane fade" id="additionalondition">
                                            <div class="panel panel-default">
                                            <div class="panel-body" style="padding: 10px 0px;">
                                                <div style="text-align:left;padding-bottom: 3.5%;">
                                                    <i data-bs-toggle="modal" onclick="rr4()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor:pointer"></i>
                                                </div>
                                                <div class="table-responsive text-nowrap" style="margin-top: -20px;">
                                                   
                                                    <table class="table table-bordered table-sm">
                                                        <thead style="background: #c1c1c1;">
                                                            <tr class="text-nowrap">
                                                                <th>Action</th>
                                                                <th>Base Field</th>
                                                                <th>Extraction Criteria</th>
                                                                <th>Target Field</th>
                                                                <th>Comparision Criteria</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="height:25px;">
                                                                @*<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>*@
                                                            </tr>
                                                            <tr style="height:25px;">
                                                               @* <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="base_identifier" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;"> 
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">New/Edit</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">
                                    Base Account No
                                </label>

                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>409000472606-RBL CC- Bank </option>
                                    <option value="2">Account2</option>
                                    <option value="3">Account3</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Order</label>
                                <input class="form-control" id="order" name="order" type="text" value="2" data-bind="value:order">
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Account Mode</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>Credit</option>
                                    <option value="2">Saving</option>
                                </select>
                            </div>
                           </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Status3" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Status3" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-4"> </div>
                            <div class="col-sm-4" style="margin-top: 2%;text-align: right;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #0f6cbd ;border-color: #0f6cbd;width:40%">Update</button>

                            </div>
                        </div>
                    
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">

                            <div class="container">
                               
                                <div class="clearfix"></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body" style="padding: 10px 0px;">
                                                <div class="row" style="padding-bottom:5px;margin-top:5px">

                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">
                                                            Filter Apply On
                                                        </label>
                                                        <select id="mode" class="form-select form-control">
                                                            <option value="1" selected>Field1</option>
                                                            <option value="2">Field2</option>
                                                            <option value="3">Field3</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">
                                                            Filter Name
                                                        </label>
                                                        <select id="mode" class="form-select form-control">
                                                            <option value="1" selected>Name1</option>
                                                            <option value="2">Name2</option>
                                                            <option value="3">Name3</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">Status</label>
                                                        <div style="margin-left:2px;margin-top:5px">
                                                            <input type="radio" id="Status" name="Status4" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                                            <input type="radio" id="Status" style="margin-left: 10px;" name="Status4" value="N">&nbsp;&nbsp;InActive&nbsp;
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row" style="padding-bottom:5px;margin-top:5px;">
                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">External Criteria</label>
                                                        <input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <label for="" class="form-label">
                                                            Extraction Filter
                                                        </label>
                                                        <input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
                                                    </div>
                                                   
                                                 </div>
                                               
                                                 
                                                 
                                                 
                                                 <div class="row" style="padding-bottom:5px;margin-top:5px;">

                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">Identifier Criteria</label>
                                                        <input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="" class="form-label">Identifier value</label>
                                                        <input class="form-control" id="order" name="order" type="text" value="" data-bind="value:order">
                                                    </div>
                                                    
                                                        <div class="col-sm-4" style="margin-top:3%;">
                                                        <button type="submit" class="btn btn-sm btn-success me-2" style="background: green ;border-color: Green;width:40%">Update</button>&nbsp;&nbsp;&nbsp;
                                                        <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr6()">Cancel</button>

                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>



                        </div>
                    
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="table-responsive text-nowrap" style="margin-top: -20px;">
                                <i  class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer"></i>
                                <table class="table table-bordered table-sm">
                                    <thead style="background: #c1c1c1;">
                                        <tr class="text-nowrap">
                                            <th>Action</th>
                                            <th>Filter Applied On</th>
                                            <th>Filter Field</th>
                                            <th>Filter Criteria</th>
                                            <th>Identifier Criteria</th>
                                            <th>Identifier Value</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="height:25px;">
                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
                                            <td>Base-409000472606-RBL CC- Bank	</td>
                                            <td>Narration	</td>
                                            <td>EXACT	</td>
                                            <td>BEGINS WITH	</td>
                                            <td>ACH TRANS	</td>
                                            <td>Active</td>
                                        </tr>
                                        <tr style="height:25px;">
                                           @* <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
</div>


    <div class="modal" id="additional_condition" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">New/Edit</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">
                                   Sl No
                                </label>
                                <input class="form-control" id="slno" name="slno" type="text" value="" data-bind="value:slno">
                               </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Status5" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Status5" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>



                           
                        </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">Base Field</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>AC No</option>
                                    <option value="2">Amount</option>
                                    <option value="3">Application Name</option>
                                </select>
                            </div>
                                <div class="col-sm-6">
                                    <label for="" class="form-label">Target Field</label>
                                    <select id="mode" class="form-select form-control">
                                    <option value="1" selected>AC No</option>
                                    <option value="2">Amount</option>
                                    </select>
                                </div>                            
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-6">
                                <label for="" class="form-label"> Extraction Criteria </label>
                                <input class="form-control" id="externalcriteria" name="externalcriteria" type="text" value="" data-bind="value:externalcriteria">
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label"> Comparison Criteria  </label>
                                <input class="form-control" id="Comparisoncriteria" name="Comparisoncriteria" type="text" value="" data-bind="value:Comparisoncriteria">
                            </div>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">  Extraction Filter  </label>
                                @*<textarea class="form-control" id="Extractionfilter" name="Extractionfilter" type="text" value="" data-bind="value:Extractionfilter" rows="3" cols="20">
                                    </textarea>*@
                                <textarea class="form-control" style="min-height:100px;" id="extraction" name="extraction" type="text" value="" data-bind="value:Extraction Criteria" rows="4" cols="20"></textarea>

                             </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label"> Comparison Filter </label>
                              @*  <textarea class="form-control" id="Comparisionfilter" name="Comparisionfilter" type="text" value="" data-bind="value:Comparisionfilter" rows="3" cols="20">
                                    </textarea>*@
                                <textarea class="form-control" style="min-height:100px;" id="Comparision" name="Comparision" type="text" value="" data-bind="value:Comparision Criteria" rows="4" cols="20"></textarea>

                            </div>
                            </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4" style="margin-top: 2%;"></div>
                            <div class="col-sm-4" style="margin-top: 2%;">
                              
                            </div>
                            <div class="col-sm-4" style="margin-top: 2%; text-align: right;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr5()">Cancel</button>

                            </div>


                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="target-grouping" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Target Grouping</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">  Field Name  </label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>AC No</option>
                                    <option value="2">Amount</option>
                                    <option value="3">Application Name</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Status" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Status" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-top: 2%;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr9()">Cancel</button>

                            </div>


                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <table class="table table-bordered table-sm">
                                <thead style="background: #c1c1c1;">
                                    <tr class="text-nowrap">
                                        <th>Action</th>
                                        <th>Sl No</th>
                                        <th>Target Group Field</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:25px;">
                                        @*<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>*@
                                    </tr>
                                    <tr style="height:25px;">
                                        @*<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff; cursor:pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red; cursor:pointer" aria-hidden="true"></i></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        kendodate_format();
    });

    $(document).ready(function () {

        $(".toggle-accordion").on("click", function () {
            var accordionId = $(this).attr("accordion-id"),
                numPanelOpen = $(accordionId + ' .collapse.in').length;

            $(this).toggleClass("active");

            if (numPanelOpen == 0) {
                openAllPanels(accordionId);
            } else {
                closeAllPanels(accordionId);
            }
        })

        openAllPanels = function (aId) {
            console.log("setAllPanelOpen");
            $(aId + ' .panel-collapse:not(".in")').collapse('show');
        }
        closeAllPanels = function (aId) {
            console.log("setAllPanelclose");
            $(aId + ' .panel-collapse.in').collapse('hide');
        }

    });

    function rr() {
        $("#newdebit").show();
    }
    function rr1() {
        $("#newdebit").hide();
    }
    function rr2() {
        $("#newconfiguration").show();
    }
    function rr7() {
        $("#newconfiguration").hide();
    }

    function rr3() {
        $("#base_identifier").show();
    }

    function rr4() {
        $("#additional_condition").show();
    }

    function rr5() {
        $("#additional_condition").hide();
    }

    function rr6() {
        $("#base_identifier").hide();
    }

    function rr8() {
        $("#target-grouping").show();
    }

    function rr9() {
        $("#target-grouping").hide();
    }
</script>
