@{
    ViewData["Title"] = "Filetemplatedetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .form-control {
            height: 32px !important;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 0px solid rgba(67, 89, 113, 0.2);
            border-radius: 0.5rem;
            outline: 0;
        }

        .modal-dialog {
            position: relative;
            width: 800px;
            margin: 0.5rem;
            pointer-events: none;
            margin-left: -240px;
        }

        .modal-body {
            position: relative;
            flex: 1 1 auto;
            padding: 1.5rem;
        }

        .modal-header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 1.5rem 0.25rem;
            border-bottom: 0px solid #d9dee3;
            border-top-left-radius: calc(0.5rem - 0px);
            border-top-right-radius: calc(0.5rem - 0px);
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
            top: 0px;
        }

        a.k-link {
            position: relative;
            top: 0px;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-pager-sizes {
            display: inline-flex !important;
            margin-left: 0% !important;
            margin-top: -4% !important;
            width: 24% !important;
        }

        .k-button.k-button-icontext.k-grid-add {
            background: green;
            color: white;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        .k-grid-content {
            overflow-x: scroll;
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete, a.k-button.k-button-icontext.k-grid-edit {
            background: transparent;
            border-color: transparent;
        }

        span.k-icon.k-edit {
            display: none;
        }

        .k-grouping-header {
            color: #ffffff;
        }

        .k-grid-filter.k-state-active {
            background-color: rgb(51, 122, 183);
        }

        .k-state-active {
            display: block;
        }

        .k-header.k-grid-toolbar.k-grid-top {
            background: none;
        }

        .k-webkit {
            overflow: hidden !important;
        }

    </style>
    <style>

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-state-active {
            display: block;
        }

        .k-webkit {
            overflow: hidden !important;
        }
    </style>
    <style>

        .panel-default {
            border-color: transparent !important;
            border: none !important;
        }

            .panel-default > .panel-heading {
                color: #333;
                background-color: #337ab7 !important;
                border-color: #e4e5e7;
                padding: 0;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                .panel-default > .panel-heading a {
                    display: block;
                    padding: 10px 15px;
                }

                    .panel-default > .panel-heading a:after {
                        content: "";
                        position: relative;
                        top: -8px;
                        color: #ffff;
                        display: inline-block;
                        font-family: 'Glyphicons Halflings';
                        font-style: normal;
                        font-weight: 800;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        float: right;
                        transition: transform .25s linear;
                        -webkit-transition: -webkit-transform .25s linear;
                    }

                    .panel-default > .panel-heading a[aria-expanded="true"] {
                        background-color: #337ab7 !important;
                    }

                        .panel-default > .panel-heading a[aria-expanded="true"]:after {
                            content: "\2212";
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

                    .panel-default > .panel-heading a[aria-expanded="false"]:after {
                        content: "\002b";
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

        .accordion-option {
            width: 100%;
            float: left;
            clear: both;
            margin: 15px 0;
        }

            .accordion-option .title {
                font-size: 20px;
                font-weight: bold;
                float: left;
                padding: 0;
                margin: 0;
            }

            .accordion-option .toggle-accordion {
                float: right;
                font-size: 16px;
                color: #6a6c6f;
            }

                .accordion-option .toggle-accordion:before {
                    content: "Expand All";
                }

                .accordion-option .toggle-accordion.active:before {
                    content: "Collapse All";
                }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:90vh;padding:10px; overflow-x: scroll;">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Filetemplate Details</h3>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">Template Code</label>
                                <input class="form-control" id="templatecode" name="templatecode" type="text" value="1" data-bind="value:1">
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Template Name</label>
                                <input class="form-control" id="templatename" name="templatename" type="text" value="Finone Receipt Template" data-bind="value:Finone Receipt Template">

                            </div>
                            </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">

                            <div class="col-sm-3">
                                <label class="form-label">Template Type</label>
                                <select id="tempType" class="form-select form-control" onchange="tempTypeChange()">
                                    <option value="excel" selected>Excel</option>
                                    <option value="csv">CSV</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">File Type</label>
                                <select id="fileType" class="form-select form-control" onchange="fileTypeChange()">
                                    <option value="1" selected>Supporting File</option>
                                    <option value="2">Manual Match File</option>
                                    <option value="3">Transaction File</option>
                                    <option value="3">Balance File</option>
                                </select>
                                </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label" style="white-space: nowrap;">
                                <span>CSV Column Count</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" style="margin: 0px; padding:0px;" type="checkbox" checked value="false" name="untillactive" onclick="checkactive()" id="untillactive" />&nbsp;&nbsp;<span style="font-size:14px;">Is header available?</span>
                                </label>
                                <input class="form-control" id="csvcolumncount" name="csvcolumncount" type="text" value="" data-bind="value:">

                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">CSV Seperator</label>
                                <input class="form-control" id="csvseperator" name="csvseperator" type="text" value="" data-bind="value:">

                            </div>
                        </div>
                      
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-3">
                                <label for="" class="form-label">Tran Date Field Available</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="tran_date" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="tran_date" value="N">&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">Tran Date Format</label>

                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>DD-MM-YYYY</option>
                                    <option value="2">YYYY-MM-DD</option>
                                    <option value="3">YYYY/MM/DD</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">Value Field Available</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="value_date" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="value_date" value="N">&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">Value Field Type</label>

                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>Transaction value with A/C mode</option>
                                    <option value="2">Transaction with Debit/Credit value</option>
                                    <option value="3">Transaction value (-Debit, +Credit) </option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:15px;padding-right:15px">
                            <div class="col-sm-3">
                                <label for="" class="form-label">Balance Field Available</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="balance_date" value="Y" checked>&nbsp;&nbsp;Yes&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="balance_date" value="N">&nbsp;&nbsp;No&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">Balance Field Type</label>

                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>Balance value with A/C mode</option>
                                    <option value="2">Balance with Debit/Credit value</option>
                                    <option value="3">Balance value (-Debit, +Credit)</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="status_temp" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="status_temp" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align:right; margin-top:2%;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="window.location.href = '/Filetemplate/Filetemplate'">Cancel</button>
                            </div>
                        </div>

                        <div class="row" style="padding-top:20px" id="exceltab">
                            <section class="col-md-12">
                                <div id="tab_list" class="col-md-12">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#excel" role="tab" data-toggle="tab">
                                                Excel Template
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="excel">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="padding: 10px 0px;">
                                                    <div style="text-align:left;padding-bottom: 3.5%;">
                                                        <i data-bs-toggle="modal" onclick="rr3()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green"></i>
                                                    </div>
                                                    <div class="table-responsive text-nowrap" style="margin-top: -20px;">

                                                        <table class="table table-bordered table-sm">
                                                            <thead style="background: #c1c1c1;">
                                                                <tr class="text-nowrap">
                                                                    <th>Action</th>
                                                                    <th>Exact Field Name</th>
                                                                    <th>Mapping Field Name</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="height:25px;">
                                                                    <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                    <td>DATE</td>
                                                                    <td>Tran Date</td>
                                                                    <td>Active</td>

                                                                </tr>
                                                                <tr style="height:25px;">
                                                                    <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                    <td>DESCRIPTION</td>
                                                                    <td>Narration</td>
                                                                    <td>Active</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="row" style="padding-top:20px" id="csvtab">
                            <section class="col-md-12">
                                <div id="tab_list" class="col-md-12">
                                    <ul class="nav nav-tabs">
                                       

                                        <li class="active">
                                            <a href="#csv" id="" role="tab" data-toggle="tab">
                                                CSV Template
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                       

                                        <div class="tab-pane fade active in" id="csv">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="padding: 10px 0px;">
                                                    <div style="text-align:left;padding-bottom: 3.5%;">
                                                        <i data-bs-toggle="modal" onclick="rr4()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor:pointer"></i>
                                                    </div>
                                                    <div class="table-responsive text-nowrap" style="margin-top: -20px;">

                                                        <table class="table table-bordered table-sm">
                                                            <thead style="background: #c1c1c1;">
                                                                <tr class="text-nowrap">
                                                                    <th>Action</th>
                                                                    <th>CSV Column No</th>
                                                                    <th>CSV Field Name</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="height:25px;">
                                                                    <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                    <td>2</td>
                                                                    <td>Tran Date</td>
                                                                    <td>Active</td>

                                                                </tr>
                                                                <tr style="height:25px;">
                                                                    <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                                                    <td>3</td>
                                                                    <td>Narration</td>
                                                                    <td>Active</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                  </div>
                </div>
            </section>
        </div>

    <div class="modal" id="viewExcel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Excel Field</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">
                                    Excel Field Name
                                </label>
                                <input class="form-control" id="excelFieldName" name="excelFieldName" type="text" value="Date" data-bind="value:order">
                                
                            </div>

                            <div class="col-sm-6" id="status_excel">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Status3" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Status3" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>

                            <div class="col-sm-6" id="map_field">
                                <label for="" class="form-label">Mapping Field Name</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>Tran Date</option>
                                    <option value="2">Narration</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                               
                            </div>
                            <div class="col-sm-4"> </div>
                            <div class="col-sm-4" style="margin-top: 2%;text-align: right;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="closeExel()">Cancel</button>

                            </div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="viewCSV" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"> </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">CSV Column</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">
                                    CSV Column No
                                </label>
                                <input class="form-control" id="excelFieldName" name="excelFieldName" type="text" value="2" data-bind="value:order">

                            </div>
                            <div class="col-sm-4" id="csvFieldName">
                                <label for="" class="form-label">CSV Field Name</label>
                                <input class="form-control" id="value_csvFieldName1" name="value_csvFieldName1" type="text" value="Tran Date" data-bind="value:order">
                            </div>

                            <div class="col-sm-4" id="mapcsvFieldName">
                                <label for="" class="form-label">Mapping Field Name</label>
                                <input class="form-control" id="value_mapcsvFieldName1" name="value_mapcsvFieldName1" type="text" value="Tran Date" data-bind="value:Tran Date">
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" id="Status" name="Status3" value="Y" checked>&nbsp;&nbsp;Active&nbsp;
                                    <input type="radio" id="Status" style="margin-left: 10px;" name="Status3" value="N">&nbsp;&nbsp;InActive&nbsp;
                                </div>
                            </div>
                         
                        </div>
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:10px;padding-right:10px">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="margin-top: 2%;text-align: right;">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="closeCSV()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        kendodate_format();
        $("#csvtab").hide();
        $("#status_excel").hide();
        $("#csvFieldName").hide();
    });

    function tempTypeChange() {
        if ($("#tempType").val() == 'excel') {
            $("#exceltab").show();
            $("#csvtab").hide();
        } else {
            $("#exceltab").hide();
            $("#csvtab").show()
        }
    }

    function fileTypeChange() {
        debugger;
        if ($("#fileType").val() == 1 || $("#fileType").val() == 3) {
            $("#status_excel").show();
            $("#map_field").hide();
            $("#mapcsvFieldName").hide();
            $("#csvFieldName").show();
        } else{
            $("#status_excel").hide();
            $("#map_field").show();
            $("#mapcsvFieldName").show();
            $("#csvFieldName").hide();
        }
    }

    function rr3() {
        $("#viewExcel").show();
    }

    function closeExel(){
        $("#viewExcel").hide();
    }

    function rr4() {
        $("#viewCSV").show();
        fileTypeChange();
    }

    function closeCSV() {
        $("#viewCSV").hide();
    }

 </script>

