@{
	ViewData["Title"] = "ReconView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>


	<style>



		.k-pager-sizes {
			display: inline-flex !important;
			margin-left: 0% !important;
			margin-top: -4% !important;
			width: 24% !important;
		}


		/*.k-grid-pager{
							height:30px !important;
						}



						.k-state-default{
							margin-top:-24px;
						}*/
	</style>
	<style>
		.k-header.k-grid-toolbar.k-grid-top {
			background: none;
		}

		.k-button.k-button-icontext.k-grid-add {
			background: green;
			color: white;
		}
	</style>

	<style>

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-state-active {
			display: none;
		}

		span.k-link {
			color: #fff !important;
			position: relative;
		}

		a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
			background: transparent;
			border-color: transparent;
		}

		.k-state-active {
			display: block;
		}

		.k-webkit {
			overflow: hidden !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-orange" style="height:auto;padding:10px">
						<div class="box-header text-center with-border">
							<h3 class="box-title">Recon Setup</h3>
						</div>
						<input type="text" id="recon_id" name="recon_id" hidden value="">
						<div class="row" style="padding-bottom:5px;padding-left:5px;padding-right:5px">
							<div class="col-sm-4">
								<label for="" class="form-label">Recon Name&nbsp;</label>
								<input class="form-control" id="ReconName" name="ReconName" type="text" value="" data-bind="value:ReconName">
							</div>
							<div class="col-sm-4">
								<label for="" class="form-label">Mapping Type&nbsp;</label>
								<select id="mode" class="form-select form-control">
									<option value="I">Contra</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label for="" class="form-label">Period From&nbsp;</label>
								<div>
									<input class="cusDate" data-role='datepicker' id="period_from" name="period_from" onclick="Dateformat()" style="width:100%" />
									<span data-for='valid' class='k-invalid-msg'></span>
								</div>
							</div>
						</div>
						<div class="row" style="padding-bottom:8px;padding-top:5px;padding-left:5px;padding-right:5px">
							<div class="col-sm-4">
								<label for="organization" class="form-label">
									<span>Period To</span>&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="checkbox" value="false" name="untillactive" onclick="checkactive()" id="untillactive" />&nbsp;&nbsp;<span style="font-size:13px;">Until Active</span>
								</label>
								<div>
									<input class="cusDate" data-role='datepicker' id="period_to" onclick="Dateformat()" style="height:25px;width: 100%;" data-bind="value:period_to" onkeypress="return date_validate(event)" /><span data-for='valid' class='k-invalid-msg'></span>
								</div>
							</div>
							<div class="col-sm-4">
								<label for="" class="form-label">Account 1&nbsp;</label>
								<select id="mode" class="form-select form-control">
									<option value="I">Ac001</option>
								</select>
								<div id="acc1" style="display:none">
									<input class="form-control1" id="accname" name="accname" type="text" value="">
								</div>
							</div>
							<div class="col-sm-4" id="acc2drop">
								<label for="" class="form-label">
									Account 2&nbsp;
								</label>
								<div>
									<select class="form-select form-control" multiple data-mdb-placeholder="Example placeholder" multiple">
										<option value="1">AccOne</option>
										<option value="2">AccTwo</option>
										<option value="3">AccThree</option>
										<option value="4">AccFour</option>
										<option value="5">AccFive</option>
									</select>
								</div>
								@* <select id="mode" class="form-select form-control">
								<option value="I">Ac001</option>
								</select>     *@
							</div>
						</div>
						<div class="row" style="padding-bottom:3px;padding-top:5px;padding-left:5px;padding-right:5px">
							<div class="col-sm-4">
								<label for="" class="form-label">Status&nbsp;<span style="font-size: 12px;color: red;">*</span></label>
								<div style="margin-left:2px;margin-top:5px">
									<input type="radio" id="Status_code" name="Status_code" value="Y" checked>&nbsp;Active &nbsp;
									<input type="radio" id="Status_code" name="Status_code" value="N" style="margin-left: 10px;">&nbsp;InActive&nbsp;
								</div>
							</div>
						</div>
						<div class="row" style="padding-top:20px">
							<section class="col-md-12">
								<div id="tab_list" class="col-md-12">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#ScreenControls" role="tab" data-toggle="tab">
												Field Mapping
											</a>
										</li>
										<li>
											<a href="#Gridcolumns" id="" role="tab" data-toggle="tab">
												File Conversion
											</a>
										</li>
										<li>
											<a href="#Frontendvaliditions" id="" role="tab" data-toggle="tab">
												Rule Setup
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="ScreenControls">
											<div class="panel panel-default">
												<div class="panel-body">
													<table class="table table-bordered table-sm">
														<thead style="background: #c1c1c1;">
															<tr class="text-nowrap">
																<th>Action</th>
																<th>Field Name</th>
																<th>Alias Name</th>
																<th>Type</th>
																<th>Format</th>
															</tr>
														</thead>
														<tbody>
															<tr style="height:25px;">
																<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>																
															</tr>
															<tr style="height:25px;">
																<td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>																
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="tab-pane fade" id="Gridcolumns">
												<div class="panel panel-default">
													<div class="panel-body">
														<div class="col-md-3">
															<label for="Template_Type" class="form-label"> Template Type</label><br />
															<div>
																<select id="mode" class="form-select form-control">																
																	<option value="1">Excel</option>
																	<option value="2">CSV</option>
																</select>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="Frontendvaliditions">
												<div class="panel panel-default">
													<div class="panel-body">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>

<script type="text/javascript">


	$(document).ready(function () {
		kendodate_format();		
	});

</script>


