@charset "utf-8";
/* CSS Document */


/*.logingbg { background:url(../images/loginbabber.jpg);}*/

.logingbg { background:url(../images/image1.jpg);}

.login-box, .register-box {
	width: 360px;
	margin: 4% auto;
}

.login-box-body, .register-box-body {
	background:rgba(0,49,86,0.2);
	padding: 20px;
	border-top: 0;
	color: #666;
}

.login-box-body h3 { text-align:center; color:#fff; font-size:24px;}
.login-box-body a { color:#fff; font-size:15px;}
.login-box-body .checkbox  { color:#fff;}
.login-box-body .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #000;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border:1px solid #000;
	color:#fff;
}

footer {
	padding: 10px 0;
	background-color: #FF6E00;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999; color:#fff;
}

.skin-blue .main-header .navbar {
	background-color: #337ab7 !important;
}

.skin-blue .main-header .logo {
	background-color: #2c2c2c;
	color: #fff;
	border-bottom: 0 solid transparent;
}

.skin-blue .sidebar-menu > li.active > a {
	border-left-color: #f67c00;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #000;
}

.padbtm { padding-bottom:50px;}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
	background-color: #f28a0f !important;
}
.skin-blue .main-header .logo:hover {
	background-color: #000;
}
.tree-view{width:100%;height:73vh}
.content{padding: 15px 15px 50px;}
.box-header .box-title{font-size:24px;font-weight:bold}
.responsive-tab{overflow:auto;padding:0}
.tab-box{padding:0 20px;float:left;width:100%}
.treeview-menu>li>a>.fa{color:#f57d02}
.box-orange{border-top-color: #f57d05;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f57d05;
    border-color: #f57d05;
}
.treeview-menu>li>a {
padding: 8px 5px 8px 25px;}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #f57d05;
    background-color: #fff;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0;
    padding: 0;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #b09f8e;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{width:100%}
.btn-block{display:block}
.dropdown-menu>li>a.btn-primary {
    color: #fff;
}
.dropdown-menu>li>a.btn-primary {
    background-color: #3654a9;
    border-color: #3654a9;padding:6px 15px
}
.dropdown-menu>li>a.btn-primary:hover, .dropdown-menu>li>a.btn-primary:active, .dropdown-menu>li>a.btn-primary:focus{ background-color: #2f4991;border-color: #2f4991;}
.btn-orange{background-color: #f57d05;color: #fff;border-color: #f57d05;}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus{background-color: #e97c0f;color: #fff;border-color: #e97c0f;}