@{
    ViewData["Title"] = "Rulesetupdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .form-control {
            height: 32px !important;
        }
        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 0px solid rgba(67, 89, 113, 0.2);
            border-radius: 0.5rem;
            outline: 0;
        }

        .modal-dialog {
            position: relative;
            width: 800px;
            margin: 0.5rem;
            pointer-events: none;
            margin-left: -240px;
        }

        .modal-body {
            position: relative;
            flex: 1 1 auto;
            padding: 1.5rem;
        }

        .modal-header {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 1.5rem 0.25rem;
            border-bottom: 0px solid #d9dee3;
            border-top-left-radius: calc(0.5rem - 0px);
            border-top-right-radius: calc(0.5rem - 0px);
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
            top: 0px;
        }

        a.k-link {
            position: relative;
            top: 0px;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete {
            background: transparent;
            border-color: transparent;
        }

        .k-pager-sizes {
            display: inline-flex !important;
            margin-left: 0% !important;
            margin-top: -4% !important;
            width: 24% !important;
        }

        .k-button.k-button-icontext.k-grid-add {
            background: green;
            color: white;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-state-active {
            display: none;
        }

        .k-grid-content {
            overflow-x: scroll;
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
        }

        span.k-link {
            color: #fff !important;
            position: relative;
        }

        a.k-button.k-button-icontext.k-grid-Edit, a.k-button.k-button-icontext.k-grid-View, a.k-button.k-button-icontext.k-grid-Delete, a.k-button.k-button-icontext.k-grid-edit {
            background: transparent;
            border-color: transparent;
        }

        span.k-icon.k-edit {
            display: none;
        }

        .k-grouping-header {
            color: #ffffff;
        }

        .k-grid-filter.k-state-active {
            background-color: rgb(51, 122, 183);
        }

        .k-state-active {
            display: block;
        }

        .k-header.k-grid-toolbar.k-grid-top {
            background: none;
        }

        .k-webkit {
            overflow: hidden !important;
        }

    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-orange" style="height:auto;padding:10px">
                        <div class="box-header text-center with-border">
                            <h3 class="box-title">Rule Setup Details</h3>
                        </div>

                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-4">
                                <label for="" class="form-label">Recon Name&nbsp;</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1">KVB BRS</option>
                                    <option value="1">Razorpay BRS - CWw0Noh1tfnVLM</option>                                   
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">Rule Code</label>
                                <input class="form-control" id="AccountNo" name="AccountNo" type="text" value="KVB-RECONNAME1">
                            </div>
                            <div class="col-sm-4">
                                <label for="" class="form-label">Rule Name</label>
                                <input class="form-control" id="AccountName" name="AccountName" type="text" value="KVB CC- UPI Collection From Customer" data-bind="value:AccountName" style=" width:92%;">
                            </div>

                        </div>
                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">

                            <div class="col-sm-4">
                                <label for="" class="form-label">Period From</label>
                                <div>
                                    <input class="cusDate" data-role='datepicker' id="period_from" name="period_from" data-value="2022-12-21" onclick="Dateformat()" style="width:100%" />
                                    <span data-for='valid' class='k-invalid-msg'></span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="organization" class="form-label">
                                    <span>Period To</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" style="margin: 0px;" type="checkbox" value="false" name="untillactive" onclick="checkactive()" id="untillactive"/>&nbsp;&nbsp;
                                    <span style="font-size:14px;">Until Active</span>
                                </label>
                                <div>
                                    <input class="cusDate" data-role='datepicker' id="period_to" onclick="Dateformat()" style="height:25px;width: 100%;" data-bind="" onkeypress="return date_validate(event)" /><span data-for='valid' class='k-invalid-msg'></span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" name="Status1" value="Y" checked>&nbsp;&nbsp;Active
                                    <input type="radio" style="margin-left: 10px;" name="Status1" value="N">&nbsp;&nbsp;InActive
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="window.location.href = '/Rulesetup/Rulesetup'">Cancel</button>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:30px">
                            <div class="table-responsive text-nowrap">
                                <i data-bs-toggle="modal" onclick="rr()" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green; cursor: pointer"></i>
                                <table class="table table-bordered table-sm">
                                    <thead style="background: #c1c1c1;">
                                        <tr class="text-nowrap">
                                            <th>Action</th>
                                            <th>Base Field</th>
                                            <th>Extraction criteria</th>
                                            <th>Target Field</th>
                                            <th>Comparison criteria</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="height:25px;">
                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                            <td>Narration</td>
                                            <td>SPLIT($FIELD$,'-',3)</td>
                                            <td>Cheque No</td>
                                            <td>EXACT</td>
                                            <td>Active</td>
                                        </tr>
                                        <tr style="height:25px;">
                                            <td align="center"><i data-bs-toggle="modal" data-bs-target="#viewdebit" class="fa fa-pencil cursor-pointer" aria-hidden="true" style="font-size: 12px;color: #5490ff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="font-size: 12px;color: red;" aria-hidden="true"></i></td>
                                            <td>Tran Date</td>
                                            <td>EXACT</td>
                                            <td>Cheque Date</td>
                                            <td>EXACT</td>
                                            <td>Active</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal" id="newdebit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">New</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">Sl No</label>
                                <input class="form-control" id="slno" name="slno" type="text" value="0" data-bind="value:0">
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label">Status</label>
                                <div style="margin-left:2px;margin-top:5px">
                                    <input type="radio" name="Status2" value="Y" checked="checked">&nbsp;&nbsp;Active
                                    <input type="radio" style="margin-left: 10px;" name="Status2" value="N">&nbsp;&nbsp;InActive
                                </div>
                            </div>   
                        </div>

                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">

                            <div class="col-sm-6">
                                <label for="" class="form-label">Base Field</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1" selected>Narration</option>
                                    <option value="2">Tran Date</option>
                                    
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Target Field</label>
                                <select id="mode" class="form-select form-control">
                                    <option value="1">Cheque No</option>
                                    <option value="2" selected>Cheque Date</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">
                            <div class="col-sm-6">
                                <label for="" class="form-label">Extraction Criteria </label>
                                <textarea class="form-control" id="extraction" name="extraction" type="text" value="" data-bind="value:Extraction Criteria" rows="4" cols="20"></textarea>
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label">Comparision Criteria  </label>
                                <textarea class="form-control" id="Comparision" name="Comparision" type="text" value="" data-bind="value:Comparision Criteria" rows="4" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:30px;padding-right:5px">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                       
                        </div>
                        <div class="col-sm-4">
                            <center>
                                <button type="submit" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%">Save</button>&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Cancel</button>
                            </center>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        kendodate_format();
    });

    function rr() {
        $("#newdebit").show();
    }
    function rr1() {
        $("#newdebit").hide();
    }
</script>
